body{
 background:#85C1E9;
}
.container
 max-width:800px;
 margin:auto;
 font-family:sans-serif;
}
.month{
 text-align:center;
 background:purple;
 font-size:2.5em;
 letter-spacing:1px;
 color:white;
 padding:25px;
 border:1px solid skyblue;
}
table, th, td {
 width:100%;
 table-layout:fixed;
 text-align:center;
 font-size:17px;
 border-collapse:collapse;
 border:1px solid white
}
tr,th, td{
 padding:15px;
}
th{
 background:#939191;
 color:black;
}
td{
 background:#EEEDB4;
}
td:hover{
 background:lightblue;
}
