.header {
  text-align: center;
  font-family: fantasy;
  font-size: 40px;
  color: olive;
}
p {
  color: #D1825B;
  font-size: 30px;
}
.condList {
  height: 25px;
}
.submit-div {
  text-align: center;
}
.submit-button {
  height: 35px;
}
