.bkd-img {
  /*background-image: url("photographer.jpg"); /* The image used */*/
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.header {
  font-family: fantasy;
  font-size: 40px;
  color: olive;
  text-align: center;
}
p {
  color: olive;
  font-size: 30px;
}
.condList {
  height: 25px;
}
.submit-div {
  text-align: center;
  height: 35px;
}
.submit-button {
  height: 35px;
  width: 75px;
}
 button {
   background-color: #1E3815;
   font-weight: bold;
   color: white;
 }

button:hover {
  background-color: #9795A3;
}

button:visited {
  background-color: #E5BA22;
}
