.web-header{
  width: 500%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.header {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: black;
}
.med-buttons {
  position: relative;
  top: 50%;
  text-align: center;
  color: #EBCAA4;
}
#med-btn {
  text-decoration: none;
  color: black;
}
.add-cond {
  text-align: center;
}
.warning {
  border-color: #ff9800;
  color: orange;
}
.warning:hover {
  background: #ff9800;
  color: white;
}
a.button2{
 display:inline-block;
 padding:0.5em 3em;
 border:0.16em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration:none;
 text-transform:uppercase;
 font-family:'Roboto',sans-serif;
 font-weight:400;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.15s;
}
a.button2:hover{
 color:#DDDDDD;
 border-color:#DDDDDD;
}
a.button2:active{
 color:#BBBBBB;
 border-color:#BBBBBB;
}
@media all and (max-width:30em){
 a.button2{
  display:block;
  margin:0.4em auto;
 }
}
