.web-header {
  width: 500%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.header {
  text-align: center;
  font-family: ariel;
  color: olive;
}
.buttons {
  position: relative;
  top: 50%;
  text-align: center;
  color: #EBCAA4;
}
a:link {
  text-decoration: none;
  color: olive;
}
.add-cond {
  text-align: center;
}
